APP_NAME=SPECTRA
APP_VERSION=0.1.0
APP_ENV=development
LOG_LEVEL=INFO

OFFLINE_MODE=true
TELEMETRY_ENABLED=false

MODEL_DIRECTORY=./models
CACHE_DIRECTORY=./data/cache

ENABLE_CPU=true
ENABLE_GPU=true
ENABLE_NPU=true

DEFAULT_INFERENCE_TIMEOUT_S=30.0
MAX_BATCH_SIZE=1

BENCHMARK_WARMUP_ITERATIONS=3
BENCHMARK_ITERATIONS=10
